.feutures__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.feutures__item {
    width: 100%;
    @include tablet {
        width: calc((100% - 30px) / 2);
    }
    @include desktop {
        width: calc((100% - 90px) / 4);
    }
}

.feutures__thumb {
    @extend %align-list;
    justify-content: center;

    margin-bottom: 30px;

    height: 120px;

    background-color: var(--secondary-bg-color);
}

.heading {
    @include font(14px, 700, 1.14, 0.03em);
    @media screen and (max-width: 767px) {
        text-align: center;
    }
    text-transform: uppercase;
    
    color: var(--title-text-color);
}

.feutures__heading {
    margin-bottom: 10px;
}

.feutures__text {
    width: 100%;
}