:root {
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --header-line-color: #ECECEC;
    --border-color: #EEEEEE;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-accent-color: #188CE8;
    --secondary-bg-color: #F5F4FA;
    --icon-color: #AFB1B8;
    --footer-bg-color: #2F303A;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --backdrop-bg-color: rgba(0, 0, 0, 0.2);
    --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}